@font-face {
  font-family: "DYH";
  src: url(../font/SmileySans-Oblique.ttf);
}

body {
  background: url("../images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "DYH";
  color: white;
}

.back {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease;
}

.back:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

a {
  color: orange;
}

.a {
  width: 65%;
  height: 170%;
  background-color: rgba(0, 0, 0, 0.788);
  border-radius: 10px;

  position: absolute;
  left: 18%;
  top: 3%;
  padding: 10px;
}