@font-face {
  font-family: "DYH";
  src: url(../font/SmileySans-Oblique.ttf.woff2);
}

body {
  background: url("../images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "DYH";
}
